
site_name: ai-qa-network
site_description: Questions, answers, and links across modern AI.
site_url: https://lornaliang.github.io/ai-qa-network/

theme:
  name: material
  features:
    - navigation.sections
    - search.suggest
    - search.highlight


markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.arithmatex:
      generic: true
extra_javascript:
  - javascripts/mathjax.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

